@media screen and (max-width: 799px) {
  .header .navigation {
    display: none; /*<<<<<<<<<<<<<<<<<<<<*/
  }

  .slider-wrapper {
    text-align: center;
  }

  .slide-description {
    margin-left: auto;
    margin-right: auto;
  }

  .slider .slick-dots {
    width: 100%;
    text-align: center;
  }

  .slider .slick-dots li {
    float: none;
    display: inline-block;
  }

  .about-us .container,
  .team-info.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-us-content {
    display: block;
  }

  .about-us-description {
    width: 100%;
    padding-right: 0;
  }

  .about-us .socials {
    justify-content: center;
  }

  .about-us .advantages {
    width: 80%;
    margin-top: 9px;
    margin: auto;
    margin-bottom: 97px;
  }

  .team .team-person {
    width: 50%;
  }

  .team .team-person figure {
    max-width: 263px;
  }

  .team .team-person:nth-child(odd) figure {
    margin-left: auto;
  }
}

@media screen and (min-width: 320px) {
}
