@media screen and (max-width: 799px) {
  .container {
    padding: 0 30px;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 112px;
    height: 21px;
    background-size: 112px;
  }

  .header .navigation-wrapper label {
    width: 90px;
    height: 50px;
    background: transparent;
    position: absolute;
    border-radius: 2px;
    top: calc(50% - 25px);
    right: 0;
    cursor: pointer;
  }

  .header .navigation-wrapper label:before,
  .header .navigation-wrapper label:after,
  .header .navigation-wrapper label span {
    content: "";
    position: absolute;
    width: 46px;
    height: 4px;
    border-radius: 2px;
    top: 12px;
    left: 12px;
    background: #23b7a4;
    transition: all 0.3s linear;
  }

  .header .navigation-wrapper label:after {
    top: initial;
    bottom: 12px;
  }

  .header .navigation-wrapper label span {
    top: initial;
    bottom: 23px;
  }

  .header .navigation-wrapper input[type="checkbox"]:checked + label:before {
    transform: rotate(45deg);
    top: 24px;
    transition: all 0.3s linear;
  }

  .header .navigation-wrapper input[type="checkbox"]:checked + label:after {
    transform: rotate(-45deg);
    top: 24px;
    transition: all 0.3s linear;
  }

  .header .navigation-wrapper input[type="checkbox"]:checked + label span {
    display: none;
  }

  .header .navigation-wrapper .navigation {
    position: absolute;
    top: 100%;
    right: 0;
    width: 280px;
    height: calc(100vh - 60px);
    min-height: 340px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background: rgba(29, 33, 38, 0.9);
    font-size: 18px;
    padding: 30px;
    margin: 0;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    visibility: hidden;
  }

  .header .navigation-wrapper .navigation a {
    color: #fff;
  }

  .slider-wrapper {
    text-align: center;
    height: calc(100vh - 60px);
  }

  .slide-description {
    margin-left: auto;
    margin-right: auto;
  }

  .slider .slick-dots {
    width: 100%;
    text-align: center;
  }

  .slider .slick-dots li {
    float: none;
    display: inline-block;
  }

  .about-us .container,
  .team-info.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-us-content {
    display: block;
  }

  .about-us-description {
    width: 100%;
    padding-right: 0;
  }

  .about-us .socials {
    justify-content: center;
  }

  .about-us .advantages {
    width: 80%;
    margin-top: 9px;
    margin: auto;
    margin-bottom: 97px;
  }

  .team .team-person {
    width: 50%;
  }

  .team .team-person figure {
    max-width: 263px;
  }

  .team .team-person:nth-child(odd) figure {
    margin-left: auto;
  }
}

@media screen and (max-width: 340px) {
  .header .navigation-wrapper .navigation {
    width: 100%;
    align-items: center;
  }

  .slide a {
    margin-right: 0;
  }

  .about-us-content {
    width: 100%;
  }

  .about-us-description .socials a {
    width: 50px;
    height: 50px;
  }

  .about-us .advantages {
    width: 100%;
    margin-top: 9px;
  }

  .team .team-person {
    width: 100%;
  }
}
